/* #navbarContainerNavDropdown{
    margin-left: 800px;
} */

body{
    background-color: #F5F5F5;
}

@media only screen and (min-width: 1000px) {
    #info_mobile {
        display:none;
    }
    #navbarContainerNavDropdown{
        display: none;
    }
  }

@media only screen and (max-width: 1000px) {
    #navbarContainerNavDropdown{
        display: none;
    }
}

#cidades{
    width: 522px;
    height: 510px;
    border-radius: 0%;
    box-shadow: none;
   }

#alcance{
    width: 289px;
    height: 252px;
    border-radius: 0%;
    box-shadow: none;
}

.card{
    border-radius: 0%;
    box-shadow: none;
}